body {

}
#header {

}
#brand-name {

}
#search-bar {

}
#wrapper {

}
#profile-container {

}
#profile-img-container {

}
#profile-img {

}
#profile-info {

}
#social {

}
#images-actions {

}
#images-container {

}
.images {

}
.action-btns {

}
.action-btns:hover {

}
#top-nav-container i:hover {

}
